@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Hotel Manage Page";
}

<h1>List of all page </h1>
<div class="entity-list">
    <h2>Hotel List</h2>
    <div class="create-btn">
        <a asp-area="Admin" asp-controller="Hotel" asp-action="Create">Create Hotel</a>
    </div>
   @foreach (var hotel in Model) 
    { 
        <div class="entity-row"> 
           <span class="name">@hotel.Name</span>
            <!-- Buttons Section -->
            <div class="actions">
                <a asp-area="Admin" asp-controller="Hotel" asp-action="Update" asp-route-id="@hotel.Id" class="update-btn">Update</a>
                <a asp-area="Admin" asp-controller="Hotel" asp-action="Delete" asp-route-id="@hotel.Id" class="delete-btn">Delete</a>
            </div>
         </div> 
     } 
 </div>

