@{
    var controllers = new List<string>();
    controllers.Add("Agency");
    controllers.Add("Photographer");
    controllers.Add("Hotel");
    controllers.Add("Room");

    controllers.Add("Bus");
    controllers.Add("Car");
    

    var length = controllers.Count();
}
<div class="list-group">
    @for(int i = 0; i < length; i++)
    {
        <a asp-area="Admin" asp-controller="@controllers[i]" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">@controllers[i]</a>
        <br />
    }
</div>